# REST API BACKEND BASE URL
NEXT_PUBLIC_API_URL=http://localhost:4000

# WEBSOCKET SOCKET.IO SERVER URL
NEXT_PUBLIC_SOCKET_URL=http://localhost:4000

# BRAND APPLICATION NAME
NEXT_PUBLIC_APP_NAME="Abyssinia Digital Menu & KOT"
